{% comment %} {% extends "base.html" %}
{% block title %} GPMS Login {% endblock %}
{% block content %}  {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPMS 畢業專題管理系統</title>
    <link rel="icon" type="image/png" href="{% static 'images/presentation.png' %}" sizes="32x32" />
    <link rel="stylesheet" href="{% static 't_index.css' %}"/>
    <link rel="stylesheet" href="{% static 'PreviousProject.css' %}"/>
    <link rel="stylesheet" href="{% static 'score.css'%}" rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" rel='stylesheet' />
    <script src="{% static 'jquery-3.5.1.js'%}"></script>
    <script src="{% static 'index.js' %}" defer></script>
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}" defer></script>
    <script>
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    </script>
</head>
<body>
     <header id='title'>
        <div class='project_label'>
            <img class='project_image' src="{% static 'images/presentation.png' %}">
            <div class="projectName">GPMS </div>
        </div>        
        <div clsss='project_title'>畢業專題管理系統</div>
        <div id='status'>
            <img id='status_index' class='status_image' onclick="check('profile')" src="{% static 'images/t_user.png' %}">
            <a href="#" id='u_name' class="username" onclick="check('profile')">{{ u_name }}</a>
            <a  href="#" id='status_index' class='identity' onclick="check('student')">{{ idt }}</a>
            <img href="#" id='status_index' class='status_image' onclick="check('bell')" src="{% static 'images/t_bell.png' %}">
            <a href="#" id='status_index' class='account_status' onclick="check('logout')">登出</a>
        </div>             
    </header>

    <div id='directory'>
        <ul class='table_index' onclick="click_dir(this.id)" id='show'>
            <li><a href="#">歷屆專題</a>
                <ul>
                    <li><a href="#" onclick="choice_Y(this.name)" name='109'>109級</a>
                    </li>
                    <li><a href="#" onclick="choice_Y(this.name)" name='108'>108級</a>
                    </li>
                    <li><a href="#" onclick="choice_Y(this.name)" name='107'>107級</a>
                    </li>
                    <li><a href="#" onclick="choice_Y(this.name)" name='106'>106級</a>
                    </li>
                </ul>
            </li> 
        </ul>
        <div class='table_index' onclick="click_dir(this.id)" id='cur_pj'><a href="#">應屆專題</a></div>
        <div class='table_index' onclick="click_dir(this.id)" id='calendar'><a href="#">行事曆</a></div>
        <div class='table_index' onclick="click_dir(this.id)" id='conne_teacher'><a href="#">聊天室</a></div>
        <div class='table_index' onclick="click_dir(this.id)" id='judge' style="display:none"><a href="#">評分專題</a></div>
    </div>
   
   <div class="promptDiv" style="display:none">
        <div>口頭報告與demo各占40%,60%</div>
        <div>demo以完成度，新穎性，實用性三個面向進行評分，即三部分各占20%</div>
    </div>
    <div class="score" style="display:none">
        <div class="scoreleft">
            <div class="sliderDiv">
                <div class="opacity_degree">
                    <div>口頭報告 :</div>
                    <div class="value"></div>
                </div>
                <div id="opacity"></div>
            </div>
            <div class="sliderDiv">
                <div class="red_degree">
                    <div>作品完成度 :</div>
                    <div class="value"></div>
                </div>
                <div id="red"></div>
            </div>
            <div class="sliderDiv">
                <div class="green_degree">
                    <div>作品新穎性 :</div>
                    <div class="value"></div>
                </div>
                <div id="green"></div>
            </div>
            <div class="sliderDiv">
                <div class="blue_degree">
                    <div>作品實用性 :</div>
                    <div class="value"></div>
                </div>
                <div id="blue"></div>
            </div>
        </div>
        <div class="scoreright">
            <div id="prompt">?</div>
            <div id="swatch" class="ui-widget-content ui-corner-all">
                <p>提交</p>
            </div>
            <!-- <div class="sub"></div> -->
        </div>
    </div>
    
    <div id='Previous-project'>
        <!-- 專題列表 -->
        <div class='Previous-pjlist' >
            <div class='year'>
                <a href="#" class='yeartitle' id='year' style="color:azure;">109級</a>
                <div class='grouplist'>

                    <div class='group' onclick="choice_G('1')" id='group1'>
                        <a href="#" style="color:azure;">第一組</a>
                    </div>
                    <div class='group' onclick="choice_G('2')" id='group2'>
                        <a href="#" style="color:azure;">第二組</a>
                    </div>
                    <div class='group' onclick="choice_G('3')" id='group3'>
                        <a href="#" style="color:azure;">第三組</a>
                    </div>
                    <div class='group' onclick="choice_G('4')" id='group4'>
                        <a href="#" style="color:azure;">第四組</a>
                    </div>
                    <div class='group' onclick="choice_G('5')" id='group5'>
                        <a href="#" style="color:azure;">第五組</a>
                    </div>
                    <div class='group' onclick="choice_G('6')" id='group6'>
                        <a href="#" style="color:azure;">第六組</a>
                    </div>
                    <div class='group' onclick="choice_G('7')" id='group7'>
                        <a href="#" style="color:azure;">第七組</a>
                    </div>
                    <div class='group' onclick="choice_G('8')" id='group8'>
                        <a href="#" style="color:azure;">第八組</a>
                    </div>
                                   
                </div>
            </div>
        </div>
        <!-- 專題內文 -->
        <div id='Previous-pjshow-block'>

        <div class='pj-title'></div>
        <div class='Previous-pjshow'>        
            <div class='pj-content-block'>
                
                    <div class='pj-content' id='pj-teacher'></div>
                    <div class='pj-content' id='pj-members'></div>
                    <div class='pj-content' id='pj-text'></div>

                    <div id='message_board' ></div>
                    <textarea class='textinput' id='input_mes_text' cols="112" rows="4">留言...</textarea>
                    <input id='mesbut' type="button" value="送出" onclick="sendmessage()"/>
            </div>            
        </div>
        </div>
    </div>
    
    <div id='current_pj'>
        <div class='cur_pj_outline'>
            <div class='outline_group_index' id='group_No'>
                <div>第&nbsp;</div>
                <div id='group_No_change'>1</div>
                <div>&nbsp;組</div>
            </div>
            <div class='outline_group_index' id='pj_name'>天源突破</div>
            <div class='outline_group_index'>指導教授 : </div>
            <div class='outline_group_index' id='group_teacher'>賴賴</div>            
            <div class='outline_group_index' >組員 :</div>
            <div class='outline_group_index' id='group_member'>A1065518 翁晟洋<br> A1065518 翁晟洋<br> A1065518 翁晟洋<br> A1065518 翁晟洋<br></div>
            <div class='outline_group_index'>進度 :
                
                <div id='progress_bar'></div>
                <div id='progress_value'>50%</div>
                
            </div>
        </div>

        <div id='cur_group_block'>
            <div class='cur_group'>                
                <div class='gtitle'>
                    天源突破<br>
                </div>
                <div class='gcontent'>
                    內容:
                </div>
            </div>
            <div class='cur_group'></div>
            <div class='cur_group'></div>

        </div>
    </div>

    {% comment %} <div id='upload_block'>
        <div class='uploadfile_block'>
            <div class='uploadtitle'>上傳專題檔案</div>
            <div class='uploadindex'>
                
                <div >檔案 :</div>
                <input class='fileblock' type="file" name="file" id="loadfile"/> 
                <br><a href='#' id='showfilename'></a>
                <div class='showtime'>
                    <div >上傳時間 : &ensp;</div>
                    <div id='loadtime'></div><br>
                </div>
                <input class='uploadbut' type="button" value="upload" onclick="uploadfile()"/> 
                
                
                
                
            </div>
            
        </div>
        <div class='uploadtext_block'>
            專題資料編輯
        </div>
    </div> {% endcomment %}
   
   <div id='profile' style='display: none;'>        
        <div class='profile-title'>個人資料</div>
        <div class='profile-content'>
            <div class='profile-img-flex'>
                <div>圖片 : </div>
                <img class='profile_image' id='p_img' src="{% static 'student/images/user.png' %}">
                <input type="file" class = 'upload-img' onchange="readURL(this)" targetID="p_img" accept="image/gif, image/jpeg, image/png"/ value="upload" style="overflow: hidden">
            </div>

            <form action="" method="POST" class='profile-text-flex' id='profile-form'>
                {% csrf_token %}
                <div class='profile-index'>
                    姓名 : {{ u_name }}
                </div>
                <div class='profile-index'>
                    手機 : {{ form.userphone }}
                </div>
                <div class='profile-index'>
                    LINE-ID : {{ form.userline }}
                </div>
                <div class='profile-index'>
                    聯絡e-mail : {{ form.contactMail }}
                </div>
                <div class='store-button'>
                    <input type='submit' name='submit' id='but_hide' onclick='store()' value='儲存'/>
                </div>
                
            </form>
        </div>
    </div>
    
</body>
</html>
{% comment %} {% endblock %} {% endcomment %}