{% comment %} {% extends "base.html" %}
{% block title %} GPMS Login {% endblock %}
{% block content %}  {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPMS 畢業專題管理系統</title>
    <link rel="icon" type="image/png" href="{% static 'images/presentation.png' %}" sizes="32x32" />
    <link rel="stylesheet" href="{% static 'student/fullcalendar-scheduler-5.0.1/lib/main.min.css' %}" rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'calendar.css' %}" rel='stylesheet' />
    <script src="{% static 'student/fullcalendar-scheduler-5.0.1/lib/main.min.js'%}" defer></script>
    <script src="{% static 'student/fullcalendar-scheduler-5.0.1/lib/locales-all.min.js'%}" defer></script>
    <script src="{% static 'jquery-3.5.1.js'%}"></script>
    <script src="{% static 'student/fullcalendar-scheduler-5.0.1/lib/moment-with-locales.min.js'%}" defer></script>
    <script src="{% static 'student/calendar.js' %}" defer></script>
    <script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    </script>
</head>
<body>
    <div id ="options">
        <div class="upper">
        </div>
        <div class="lower">
            <div class="Div">
                <div class="divName">Title</div>
                <input type="text" id="titol" name="titol">
            </div>
            <div class="Div">
                <div class="divName">Date</div>
                <input type="text"  id="date" name="date">
            </div>
            <div class="Div">
                <div class="divName">Color</div>
                <select type="text" id="color" name="color">
                    <option value="red">red</option>
                    <option value="DarkOrange">orange</option>
                    <option value="yellow">yellow</option>
                    <option value="lawngreen">green</option>
                    <option value="blue">blue</option>
                    <option value="indigo">indigo</option>
                    <option value="purple">purple</option>
                    <option value="black">black</option>
                </select>
            </div>
            <div class="subDiv">
                <input class="sub" type="submit" value="Create Event">
                <input class="update" type="submit" value="Update Event">
                <input class="delete" type="submit" value="Delete">
            </div>
        </div>
    </div>
    <div id="calendar">
    </div>
</body>
</html>
{% comment %} {% endblock %} {% endcomment %}