{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPMS 畢業專題管理系統</title>
    <link rel="icon" type="image/png" href="{% static 'student/images/presentation.png' %}" sizes="32x32" />
    <link rel="stylesheet" href="{% static 'fullcalendar-scheduler-5.0.1/lib/main.css' %}"/>
    <script src="{% static 'fullcalendar-scheduler-5.0.1/lib/locales-all.js'%}" defer></script>
    <script src="{% static 'fullcalendar-scheduler-5.0.1/lib/main.js'%}" defer></script>
    <script src="{% static 'jquery-3.5.1.js'%}" defer></script>
    <script src="{% static 'student/calendar.js' %}" defer></script>
</head>
<body>
    <div id="calendar">
    </div>
</body>
