{% comment %} {% extends "base.html" %}
{% block title %} GPMS Login {% endblock %}
{% block content %}  {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPMS 畢業專題管理系統</title>
    <link rel="icon" type="image/png" href="{% static 'student/images/presentation.png' %}" sizes="32x32" />
    <link rel="stylesheet" href="{% static 'student/s_index.css' %}"/>
    <link rel="stylesheet" href="{% static 'student/PreviousProject.css' %}"/>
    <script src="{% static 'jquery-3.5.1.js'%}"></script>
    <script src="{% static 'student/index.js' %}" defer></script>
    <script>
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    </script>
</head>
<body>
     <header id='title'>
        <div class='project_label'>
            <img class='project_image' src="{% static 'student/images/presentation.png' %}">
            <div class="projectName">GPMS </div>
        </div>        
        <div clsss='project_title'>畢業專題管理系統</div>
        <div id='status'>
            <img id='status_index' class='status_image' onclick="check('profile')" src="{% static 'student/images/user.png' %}">
            <a href="#" id='u_name' class="username" onclick="check('profile')">{{ u_name }}</a>
            <a  href="#" id='status_index' class='identity' onclick="check('student')">{{ idt }}</a>
            <img href="#" id='status_index' class='status_image' onclick="check('bell')" src="{% static 'student/images/bell.png' %}">
            <a href="#" id='status_index' class='account_status' onclick="check('logout')">登出</a>
        </div>             
    </header>

    <div id='directory'>
        <ul class='table_index' onclick="click_dir(this.id)" id='show'>
            <li><a href="#">歷屆專題</a>
                <ul>
                    <li><a href="#" onclick="choice_Y(this.name)" name='109'>109級</a>
                    </li>
                    <li><a href="#" onclick="choice_Y(this.name)" name='108'>108級</a>
                    </li>
                    <li><a href="#" onclick="choice_Y(this.name)" name='107'>107級</a>
                    </li>
                    <li><a href="#" onclick="choice_Y(this.name)" name='106'>106級</a>
                    </li>
                </ul>
            </li> 
        </ul>
        <div class='table_index' onclick="click_dir(this.id)" id='cur_pj'><a href="#">應屆專題</a></div>
        <div class='table_index' onclick="click_dir(this.id)" id='upload_pj'><a href="#">上傳檔案</a></div>
        <div class='table_index' onclick="click_dir(this.id)" id='conne_teacher'><a href="#">聊天室</a></div>
        <div class='table_index' onclick="click_dir(this.id)" id='calendar'><a href="#">行事曆</a></div>
    </div>
   



    
    <div id='Previous-project'>
        <!-- 專題列表 -->
        <div class='Previous-pjlist' >
            <div class='year'>
                <a href="#" class='yeartitle' id='year' style="color:azure;">109級</a>
                <div class='grouplist'>

                    <div class='group' onclick="choice_G('1')" id='group1'>
                        <a href="#" style="color:azure;">第一組</a>
                    </div>
                    <div class='group' onclick="choice_G('2')" id='group2'>
                        <a href="#" style="color:azure;">第二組</a>
                    </div>
                    <div class='group' onclick="choice_G('3')" id='group3'>
                        <a href="#" style="color:azure;">第三組</a>
                    </div>
                    <div class='group' onclick="choice_G('4')" id='group4'>
                        <a href="#" style="color:azure;">第四組</a>
                    </div>
                    <div class='group' onclick="choice_G('5')" id='group5'>
                        <a href="#" style="color:azure;">第五組</a>
                    </div>
                    <div class='group' onclick="choice_G('6')" id='group6'>
                        <a href="#" style="color:azure;">第六組</a>
                    </div>
                    <div class='group' onclick="choice_G('7')" id='group7'>
                        <a href="#" style="color:azure;">第七組</a>
                    </div>
                    <div class='group' onclick="choice_G('8')" id='group8'>
                        <a href="#" style="color:azure;">第八組</a>
                    </div>
                                   
                </div>
            </div>
        </div>
        <!-- 專題內文 -->
        <div id='Previous-pjshow-block'>

        <div class='pj-title'></div>
        <div class='Previous-pjshow'>        
            <div class='pj-content-block'>
                
                    <div class='pj-content' id='pj-teacher'></div>
                    <div class='pj-content' id='pj-members'></div>
                    <div class='pj-content' id='pj-text'></div>

                    <div id='message_board' ></div>
                    <textarea class='textinput' id='input_mes_text' cols="112" rows="4">留言...</textarea>
                    <input id='mesbut' type="button" value="送出" onclick="sendmessage()"/>
            </div>            
        </div>
        </div>
    </div>
    
    <div id='current_pj'>
        <div class='cur_pj_outline'>
            <div class='outline_group_index' id='group_No'>
                <div>第&nbsp;</div>
                <div id='group_No_change'>1</div>
                <div>&nbsp;組</div>
            </div>
            <div class='outline_group_index' id='pj_name'>天源突破</div>
            <div class='outline_group_index'>指導教授 : </div>
            <div class='outline_group_index' id='group_teacher'>賴賴</div>            
            <div class='outline_group_index' >組員 :</div>
            <div class='outline_group_index' id='group_member'>A1065518 翁晟洋<br> A1065518 翁晟洋<br> A1065518 翁晟洋<br> A1065518 翁晟洋<br></div>
            <div class='outline_group_index'>進度 :
                
                <div id='progress_bar'></div>
                <div id='progress_value'>50%</div>
                
            </div>
        </div>

        <div id='cur_group_block'>
            <div class='cur_group'>                
                <div class='gtitle'><br></div>
                <div class='text_motive_content'></div>
                <div class='text_system_content'></div>
            </div>
            <div class='cur_group'>                
                <div class='gtitle'><br></div>
                <div class='text_motive_content'></div>
                <div class='text_system_content'></div>
            </div>
            <div class='cur_group'>                
                <div class='gtitle'><br></div>
                <div class='text_motive_content'></div>
                <div class='text_system_content'></div>
            </div>
            <div class='cur_group'>                
                <div class='gtitle'><br></div>
                <div class='text_motive_content'></div>
                <div class='text_system_content'></div>
            </div>
        </div>
    </div>
        <div id='upload_block'>
        <div class='uploadfile_block'>
            <div class='uploadtitle'>上傳專題檔案</div>

            <form action="" class='uploadindex' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div >檔案 :</div>
                <input type="file" accept ='.rar,.zip' class='fileblock' id="loadfile"/ name="file"> 
                {% if uploaded_file_url %}
                <br><a download href="{{ uploaded_file_url }}" id='showfilename' style="color: yellow;">{{ uploaded_file }}</a> 
                {% endif %}
                <div class='showtime'>
                    <div >上傳時間 : &ensp;</div>
                    <div id='loadtime'>{{ uploaded_time }}</div><br>
                </div>
                
                
                
                <input class='uploadbut' type="submit" value="upload" onclick="uploadfile()"/>
            </form>            

        </div>

        <div class='uploadtext_block'>
            <div>▶ 專題資料編輯</div>
            <div class='text_block'>
                <a class='texttitle'>• 專題名稱 :</a>
                <input type="checkbox" id="text1" name="private1" value="private">
                <label for="private"> 不公開</label><br>
                <input type="text" class='textpjname' id='textvalue_1' value=''>                
            </div>
            <div class='text_block'>
                <a class='texttitle'>• 開發動機 :</a>
                <input type="checkbox" id="text2" name="private2" value="private"  ><!-- checked="checked" -->
                <label for="private"> 不公開</label><br>
                <textarea class='textinput' id="text2_input" cols="80" rows="20">輸入你想要寫的內容...
                </textarea>
            </div>
            <div class='text_block'>
                <a class='texttitle'>• 系統需求 : </a>
                <input type="checkbox" id="text3" name="private3" value="private"  checked="checked">
                <label for="private"> 不公開</label><br>
                <textarea class='textinput' id="text3_input" cols="80" rows="20">輸入你想要寫的內容...
                </textarea>
            </div>
            <div class='text_block'>
                <a class='texttitle'>• 完成度 : </a>
    
                <input type="text" id='text_rate' value='90' style="background-color: #282828;">
                
            </div>
            
            
            <input id='savebut' type="button" value="save" onclick="savetext()"/>
        </div>
    </div>
   
    <div id='profile' style='display: none;'>        
        <div class='profile-title'>個人資料</div>
        <div class='profile-content'>
            <div class='profile-img-flex'>
                <div>圖片 : </div>
                <img class='profile_image' id='p_img' src="{% static 'student/images/user.png' %}">
                <input type="file" class = 'upload-img' onchange="readURL(this)" targetID="p_img" accept="image/gif, image/jpeg, image/png"/ value="upload" style="overflow: hidden">
            </div>

            <form action="" method="POST" class='profile-text-flex' id='profile-form'>
                {% csrf_token %}
                <div class='profile-index'>
                    姓名 : {{ u_name }}
                </div>
                <div class='profile-index'>
                    手機 : {{ form.userphone }}
                </div>
                <div class='profile-index'>
                    LINE-ID : {{ form.userline }}
                </div>
                <div class='profile-index'>
                    聯絡e-mail : {{ form.contactMail }}
                </div>
                <div class='store-button'>
                    <input type='submit' name='submit' id='but_hide' onclick='store()' value='儲存'/>
                </div>
                
            </form>
        </div>
    </div>
   
    
</body>
</html>
{% comment %} {% endblock %} {% endcomment %}