{% extends "base.html" %}
{% block title %} GPMS Login {% endblock %}
{% block content %} 
{% load static %}
<body>
    <header id='title'>
        <div class='project_label'>
            <img class='project_image' src="{% static 'images/presentation.png' %}">
            <div class="projectName">GPMS </div>
        </div>        
        <div clsss='project_title'>畢業專題管理系統</div>
        <div id='status'>
            <img id='status_index' class='status_image' src="{% static 'images/user.png' %}">
            <div id='status_index' class="username">翁晟洋</div>
            <div id='status_index' class='identity'>學生</div>
            <img id='status_index' class='status_image' src="{% static 'images/bell.png' %}">
            <div id='status_index' class='account_status'>登出</div>
        </div>             
    </header>
    <div id='directory'>
        <div class='table_index'>歷屆專題</div>
        <div class='table_index'>應屆專題</div>
        <div class='table_index'>上傳資料</div>
        <div class='table_index'>聯絡老師</div>
    </div>
    
</body>
{% endblock %}