body{
    margin:0;   
    background-color: #181818;
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#title{
    /* background-color: #212121; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    margin-top: 20px;
}
.project_label{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8%;
    justify-content: center;
    
    
}
.project_title{
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    font-size: 50px;
    margin-left: 5%;


}
#status{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    width: 20%;
    text-decoration: none;
}
#status a{    
    text-decoration: none;
    color: white;
}
/* #status .username{
    
    width: 60px;
} */
.project_image{
    height:50%;
    background-size: cover;
}
.projectName{
    margin-left: 7%;
    
}


#status_index{    
    margin-right: 5%;    
}
.status_image{
    height:50%;
    background-size: cover;
}
#directory{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(212, 0, 255);
    height: 40px;
    margin-top: 20px;
    align-items: center;
    
}
#prfile{
    display: none;
}

#profile{    
    display: flex;
    flex-direction: column;    
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
    border-radius: 5%;
    border-style: solid;
    /* background-color: aqua; */
    height:500px;
    z-index: 10;
    position: relative;
    
}

.profile-title{
    font-size:200%;
    text-align: center;
    /* background-color: burlywood; */
    border-bottom-style: solid;
}
.profile-content{
    display: flex;
    /* justify-content: space-between; */
    /* background-color: blueviolet; */

}
.profile-img-flex{
    width: 20%;
    /* background-color: aquamarine; */
    padding: 5%;
}
.profile-text-flex{
    /* display: flex; */
    /* width: 40%; */
    flex-direction: column;
    /* background-color: crimson; */
    padding: 5%;
    margin-left: 5%;
}
.profile_image{
    height: 100px;
    /* width: 100%; */
    border-style: solid;
    padding: 2px;

}
.store-button{
    text-align: end;
    margin-top: 10%;
}
.profile-index{
    margin-top: 3%;
}
.profile-username{
    width: 40%;
}
.usergrade{
    width: 20%;
}
.usermail{
    width: 80%;

}
.userline{
    width: 60%;

}
.upload-img{
    width: 100px;
}

#status_index:hover{
    color: yellow;
    
}
.table_index{
    width: 10%;    
    text-align: center;
    height: 100%;
    line-height: 40px;
    
    z-index: 0;
}
.table_index:hover{ 
    background-color: blueviolet;
    
    
}
.table_index a{
    text-decoration: none !important;
    color: white;
}
/*     ----------------------------- */
.table_index ul {
    display: none;
}


.table_index li:hover > ul { /* 滑鼠滑入展開次選單*/
    display: block;
}
.table_index li a{ /* 滑鼠滑入選單*/
    text-decoration: none;
    color: white;
}
.table_index ul li { /* 滑鼠滑入展開的次選單*/
    text-decoration: none;
    color: white;
    background-color:  rgb(212, 0, 255);
    width: 120%;
    border-style: solid;
    border-width: 1px;
    
    border-color: blueviolet;

}
ul.table_index ul :hover{   
    text-decoration: none;
    color: white;
    background-color:blueviolet;
    border-color: rgb(212, 0, 255);
    

}
.show_person_profile{
    display: block !important;
    margin-top: -550px !important;
    background-color: black;
    opacity: 0.95;

}

body{
    /* height: 500px; */
    background-color: black;
}
.score{
    color:black;
    display: flex;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    background-color: #ffffff;
}
.scoreleft{
    width: 75%;
}
.scoreright{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 25%;
}
.slider{
    width:250px;
    margin: 10px 0 0 20px;
    /* height: 20px; */
}
.slider_value{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.slider_value div{
    font-size: 24px;
    margin-left: 10px
}
.sliderDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}


.slider_value{
    height: 30px;
}
.sub{
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-left: 15px;
    border: grey 1px solid;
    border-radius: 5px;
    opacity:0.5;
    background-color: #d4d4d4;
}
.sub:hover{
    cursor: pointer;
    background-color:grey;
}
#red, #green, #blue,#opacity {
    /* float: left; */
    width: 250px;
    margin:2px 0 4px 12px ;
  }
#prompt {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    border: teal 1.5px solid;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}
  #swatch {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    border: #ababab 2px solid;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-image: none;
  }
.opacity_degree{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin-left: 14px;
}
.red_degree{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin-left: 14px;
}
.green_degree{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin-left: 14px;
}
.blue_degree{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin-left: 14px;
}
.promptDiv{
    color:black;
    border: black 2.5px solid;
    z-index: 2;
    left: 50%;
    position: fixed;
    border-radius: 5px;
    padding: 15px;
    width: 220px;
    height: 100px;
    background-color: white;
    display: none;
}
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }